/*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
    position: relative;
    justify-content: center;
}

.flickity-enabled:focus {
    outline: none;
}

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
    position: relative;
    background: hsla(0, 0%, 100%, 0.75);
    border: none;
    color: #333;
    border: rgb(160, 158, 158) solid 1px;
}

.flickity-button:hover {
    background: #5CB85F;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* .flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19F;
} */

.flickity-button:active {
    opacity: 0.6;
}

.flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    /* prevent disabled button from capturing pointer up event. #716 */
    pointer-events: none;
}

.flickity-button-icon {
    fill: currentColor;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
    /* justify-content: center;
    text-align: center;
    align-items: center; */
    /* top: 110%; */
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    /* vertically center */
    /* transform: translateY(-50%); */
}

.flickity-prev-next-button.previous {
    /* left: 10px; */
    /* left: 45%; */
    margin: 10px;
}

.flickity-prev-next-button.next {
    /* right: 10px; */
    /* right: 45%; */
    margin: 10px;
    
}

/* right to left */
/* .flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
} */

.flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
}
