body {
    font-family: 'Helvetica', sans-serif;
}

a{
    text-decoration: none;
    color: #000000;
}

.size{
    padding: 25px 136px;
}

/* color  */
.bg-blueWhite{
    background-color: #F1F3FF;
}
.bg-blueDark{
    background-color: #0D28A6;
}
.text-light{
    color: #ffffff;
}

h1,p{
    color: #000000;
}
.nav-link {
    color: black;
}

/* font */
.title-1{
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */
}

.title-2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */
}

.title-3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
}

.paragraf {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

/* component */
.rounded1{
    border-radius: 25PX;
}

.logo {
    background-color: #0D28A6;
    width: 75px;
    height: 25px;
}

.dropdown .accordion-item {
    margin-bottom: 20px;
    border: 1px #c4c4c4 solid;
}

/* testimonial section */
.testimonial-section .konten-testimonial {
    display: flex;
    height: 270px;
    width: 700px;
    background-color: #F1F3FF;
    /* justify-content: center; */
    align-items: center;
    /* margin: 0 auto; */
    padding: 70px;
}

.testimonial-section .konten-testimonial .gambar-testimonial img {
    margin-right: 2rem;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}


/* RESPONSIVE */
@media only screen and (max-width: 700px) {
    /* * {
        padding-right: 0;
    } */
    .size{
        padding: 0px 4rem;
    }
    .gambar {
        margin-top: 2rem;
        max-width: 95%;
    }
    .testimonial-section .konten-testimonial {
        width: 400px;
        margin: 0;
    }
    .testimonial-section .konten-testimonial .gambar-testimonial img {
        width: 60px;
        height: 60px;
    }
    /* #ourService {
        padding-left: 1rem; 
    } */
    .title-1{
        font-size: 24px;
    }
}